<h1>Adoptions</h1>

<% for adoption in @adoptions %>
<p>Pet Name: <%= adoption.animal.name() %></p>
<p>Owner Name: <%= adoption.owner.name() %></p>
<p>Type: <%= adoption.animal.type() %></p>
<p>Breed: <%= adoption.animal.breed() %></p>


<% end %>

<p><a href="/adoptions/new_adoption">Create Adoption</a></p>
