<h2>All Pets</h2>

<% for animal in @animals %>
  <p>Name: <%= animal.name() %></p>
  <p><a href="/animals/<%= animal.id %>">Show Pet</a></p>

<% end %>

<p><a href="/animals/new_animal">Add Pet</a></p>
