<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Pet Shelter</title>
</head>

<body>

<header>
<h1>Welcome to the Pet Shelter</h1>
</header>

<%= yield %>

</body>
</html>
