<form action="/adoptions" method="post">

  <label for="animal_id">Animal:</label>
  <select name="animal_id">
    <option value="animal1.id">Chonky</option>
    <option value="animal2.id">Shaz</option>
    <option value="animal3.id">Gavin</option>
    <option value="animal4.id">Dave</option>
    <option value="animal5.id">Helen</option>
    <option value="animal6.id">Mandy</option>

  </select>

  <label for="owner_id">Owner:</label>
  <select name="owner_id">
    <option value="owner1.id">John</option>
    <option value="owner2.id">Kathryn</option>
    <option value="owner3.id">Rab</option>

  </select>

  <input type="submit" value="Create adoption">
</form>
