<h1>Pets</h1>


<% for adoption in @adoptions %>
<% if owner_id = adoption.owner.id %>
<p>Name: <%= adoption.animal.name() %></p>
<p>Type: <%= adoption.animal.type() %></p>
<p>Breed: <%= adoption.animal.breed %></p>

<% end %>
<% end %>
